*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0F172A;
    color:#F8FAFC;
}



.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}



header{
    background:#111827;
    box-shadow:0 2px 15px rgba(0,0,0,.4);
    position:sticky;
    top:0;
    z-index:100;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color:#22C55E;
    font-size:28px;
    font-weight:700;
}

.logo i{
    font-size:28px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#E5E7EB;
    font-weight:500;
    transition:.3s;
    position:relative;
}

nav a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:2px;
    background:#22C55E;
    transition:.3s;
}

nav a:hover::after{
    width:100%;
}

nav a:hover{
    color:#22C55E;
}



.btn{
    text-decoration:none;
    background:#22C55E;
    color:#fff;
    padding:12px 24px;
    border-radius:30px;
    transition:.3s;
    font-weight:600;
}

.btn:hover{
    background:#16A34A;
    transform:translateY(-3px);
}

/* Hero */

.hero{
    height:75vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    color:#CBD5E1;
    max-width:650px;
    line-height:1.8;
    font-size:18px;
}



footer{
    background:#111827;
    margin-top:60px;
    padding-top:60px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;
}

.footer-box h2,
.footer-box h3{
    color:#22C55E;
    margin-bottom:18px;
}

.footer-box p{
    color:#94A3B8;
}

.footer-box a{
    display:block;
    color:#CBD5E1;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}

.footer-box a:hover{
    color:#22C55E;
    padding-left:5px;
}

.social-icons{
    margin-top:15px;
}

.social-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:42px;
    height:42px;
    border-radius:50%;
    background:#1E293B;
    color:#fff;
    margin-right:10px;
    transition:.3s;
}

.social-icons a:hover{
    background:#22C55E;
    transform:translateY(-4px);
}

.copyright{
    margin-top:40px;
    padding:20px;
    text-align:center;
    border-top:1px solid #334155;
    color:#94A3B8;
}


@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

    .hero h1{
        font-size:38px;
    }

}

